# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
*.py[co]

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Node.js
node_modules/
dist/
build/

# Environment files
.env*

# Temporary files
*.tmp
*.swp